.billboard__wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 652px;
  padding: 333px 391px 32px 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #ffffff;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .billboard__discription {
    max-width: 969px;
    width: 100%;
    margin-top: 16px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .billboard__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 42px;
    grid-column-gap: 20px;
    grid-row-gap: 38px;
    .billboard__grid {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      max-width: 230px;
      min-height: 49px;
      img {
        width: 30px;
        height: 30px;
      }
      .grid__left {
        display: flex;
        flex-direction: column;
        gap: 6px;
        span {
          font-weight: 500;
          font-size: 17px;
          line-height: 22px;
          color: #ffffff;
          text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          text-transform: capitalize;
        }
        a {
          font-weight: 500;
          font-size: 15px;
          line-height: 19px;
          color: #d3d3d3;
          text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          width: 150px;

          i {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
.about {
  padding: 50px 0px;
  border-top: 1px solid #287fa0;
  .about__wrapper {
    padding: 21px 80px;
    display: flex;
    justify-content: space-between;

    .about__discription__wrapper {
      max-width: 840px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .about__heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: #287fa0;
        text-transform: capitalize;
      }
      .about__heading-alt {
        color: #287fa0;
      }
      .about__heading-second {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
      }
      .about__heading-alt-three {
        font-weight: 700;
        font-size: 27px;
        color: #287fa0;
      }
      .about__heading-price {
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: #287fa0;
      }
      .accodian-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      .about__accordion__wrapper {
        display: flex;
        flex-direction: column;
        background: transparent;
        border: 1px solid #d8d6e8;
        padding: 30px;
        align-items: flex-start;
        cursor: pointer;
        .about__accordion {
          max-width: 840px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          background: transparent;
          .about__accordion__heading_wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            strong {
              color: #000000;
              font-weight: 600;
              font-size: 13px;
              line-height: 17px;
              text-transform: capitalize;
              margin-right: 5px;
            }
            span {
              color: rgba(87, 83, 81, 0.4);
              font-weight: 400;
              font-size: 32px;
              line-height: 44px;
            }
            .about__accordion__heading {
              display: flex;
              flex-direction: column;
              margin-left: 8px;
              gap: 6px;
              h4 {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #575351;
              }
              .about__accodian__buttom {
                display: flex;
                gap: 6px;
                span {
                  font-weight: 500;
                  font-size: 13px;
                  line-height: 17px;
                  color: rgba(87, 83, 81, 0.6);
                  text-transform: capitalize;
                }
                p {
                  font-weight: 500;
                  font-size: 13px;
                  line-height: 17px;
                  color: #575351;
                }
              }
            }
          }
        }
      }
      .about__discription {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        color: #575351;
        list-style: none;
        height: auto;
        span {
          font-weight: 600;
        }
      }
      .about__points {
        display: flex;
        flex-direction: column;
        gap: 9px;
      }
      .about__discription-alt {
        height: auto !important;
      }
    }
  }
}
.panel {
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  .about__accordion__body {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #575351;
    }
    img {
      max-width: 704px;
      height: 418px;
    }
  }
}
.about__trip__different {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #f2fcf3;
  padding: 34px 40px 40px 40px;
  .about__trip__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;
    color: #148f44;
  }
  .about__trip__description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .about__trip__item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
      .about__tripdis {
        display: flex;
        flex-direction: column;
        gap: 25px;
        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #575351;
        }
        img {
          width: 23px;
          height: 12px;
          margin-top: 4px;
        }
        ul {
          li {
            justify-content: flex-start;
            align-items: flex-start;
            display: flex;
            gap: 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #575351;
            max-width: 690px;
            width: 100%;
          }
        }
      }
    }
  }
}
.about__feature {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12.5px;
  li {
    display: flex;
    max-width: 500px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #575351;
    text-transform: capitalize;
    img {
      width: 23px;
      height: 23px;
      margin-right: 8px;
    }
  }
}
.about__exclude {
  background: #fff5f3;
  width: 100%;
  padding: 34px 40px 40px 40px;

  h3 {
    color: #d24545;
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;
  }
  ul {
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    li {
      display: flex;
      gap: 12px;
      justify-content: flex-start;
      align-items: flex-start;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #575351;
      text-transform: capitalize;
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
}
.review {
  padding-top: 10px;
  width: 100%;
}
.review-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 80px 40px 70px;
  gap: 30px;
  .review__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #287fa0;
  }
}
.review-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .review__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 40px;
    border: 1px solid #d8d6e8;
    max-width: 1280px;
    width: 100%;
    .review__top {
      .review__top-left {
        max-width: 292.52px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 9px;
        .review__heading {
          font-weight: 700;
          font-size: 27px;
          line-height: 35px;
          color: #287fa0;
          text-transform: capitalize;
        }
        .review__top-mid {
          display: flex;
          gap: 8px;
          span {
            font-weight: 700;
            font-size: 27px;
            line-height: 35px;
            color: #575351;
          }
          .span-alt {
            font-weight: 600;
            padding-left: 12px;
            border-left: 1px solid #d8d6e8;
            text-transform: capitalize;
            font-style: italic;
          }
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #575351;
          width: 280px;
        }
      }
      .review__top-right {
        padding: 13px 14px 13px 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #f7941e;
        border-radius: 4px;
        height: 105px;
        span {
          font-weight: 600;
          font-size: 27px;
          line-height: 35px;
          color: #575351;
          text-transform: capitalize;
        }
        strong {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }
    .review__buttom {
      display: flex;
      .review__topic {
        width: 274px;
        min-height: 268px;
        padding: 16px 16px;
        height: auto;
        background: #f1f1f1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .review__topi-item {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .review__topic-heading {
            display: flex;
            justify-content: space-between;
            h6 {
              color: #575351;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              text-transform: capitalize;
            }
            span {
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              color: #000000;
            }
          }
          .review__line {
            display: flex;
            gap: 2px;
            span {
              width: 46px;
              height: 2px;
              background: #148f44;
              strong {
                background: #d9d9d9;
                margin-left: 37px;
                width: 10px;
                height: 2px;
              }
            }
          }
        }
      }
    }
  }
}
.visitor__review-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
}
.visitor__review {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d6e8;
  .visitor__review__top {
    display: flex;
    gap: 8px;
    span {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
    }
    strong {
      color: #575351;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .visitor__review__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #575351;
    }
    p {
      max-width: 906px;
      width: 100%;
      color: #575351;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
    }
  }
}
.visitor__review__button {
  padding: 10px 30px 10px 30px;
  background: #f7941e;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  &:hover {
    color: #b3cabc;
  }
}
.about__card {
  max-width: 323px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  border: 0.8px solid #0c5a88;
  border-radius: 4px;
  height: 820px;
  .about__field {
    width: 144px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-transform: capitalize;
    gap: 10px;
    position: absolute;
    top: 0;
    margin-top: -7px;
  }
  .about__card__top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .about__card__heading {
      margin-top: 57px;
      display: flex;
      gap: 12px;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      color: #575351;
      text-transform: capitalize;
      justify-content: center;
      align-items: center;
      strong {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #575351;
      }
    }
    .about__card__title {
      font-weight: 600;
      font-size: 34px;
      color: #575351;
      text-transform: uppercase;
    }
    .about__card__button {
      padding: 2px 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #ffffff;
      background: #148f44;
      border-radius: 2px;
      border: none;
    }
  }
  .card__price {
    background: #ebf7fa;
    min-height: 232px;
    width: 100%;
  }
  .about__card__feature {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
    border-bottom: 1px solid black;
    li {
      max-width: 250px;
      width: 100%;
      display: flex;
      gap: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #575351;
      i {
        color: #148f44;
      }
    }
  }
  .about__buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    .about__star {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
    }
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #575351;
      padding-top: 10px;
    }
    .about__card__button {
      padding: 10px 63px;
      margin-top: 15px;
      background: #148f44;
      border-radius: 24px;
      border: none;
      font-weight: 700;
      font-size: 20px;
      line-height: 31px;
      color: #ffffff;
    }
    .about__card__button-alt {
      background: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #575351;
      border: 1px solid rgba(0, 0, 0, 0.25);
    }
  }
}
